#category-title {
    font-size: 3rem;
    color: #333;
}

.shop-options {
    display: flex;
    flex-wrap: wrap;
    gap: 0.55rem;
    justify-content: center;
    padding-bottom: 6px;
    margin-bottom: 1rem;
}

.shop-option-button {
    cursor: pointer;
    padding: 9px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #7b9e69bf;
    font-size: 1.1rem;
    transform: translateY(0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.search-button {
    display: none;
}

.shop-option-button:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    background-color: #75a75cbf;

}

.shop-option-button:focus, .selected {
    background-color: #3d6728bf;
}